/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* * General classes */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

.button {
    border: 1px solid white;
    border-radius: 25px;
    padding: 1rem 1.5rem;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
}

.divider {
    height: 1px;
    width: 100%;
    background-color: grey;
}

.bar {
    width: 100px;
    height: 5px;
    border-radius: 25px;
    background-color: grey;
    position: relative;
}

.progress {
    width: 40%;
    height: 5px;
    border-radius: 25px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
}

.point-hover {
    display: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right: 0;
    bottom: -5px;
}

/* ! Call To Action */
#call-to-action {
    width: 100%;
    height: 80px;
    z-index: 0;
    position: absolute;
    top: 0;
    background-color: rgb(8, 11, 18);
    text-align: end;
    line-height: 80px;
    padding-right: 1rem;
}

#call-to-action .button:hover {
    transform: scale(1.05);
    cursor: pointer;
}

/* ! Sidebar */
#sidebar {
    width: 40px;
    height: calc(100vh - 80px);
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    padding: 7px;
    color: rgb(106, 106, 106);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#sidebar .logo {
    width: 100%;
}

#sidebar .logo-desktop {
    display: none;
    height: 50px;
}

#sidebar nav {
    margin-bottom: 1rem;
}

#sidebar nav ul {
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

#sidebar nav ul li {
    padding-bottom: 0.5rem;
}

#sidebar nav ul li > i {
    font-size: 18px;
}

#sidebar .playlist {
    display: none;
}

#sidebar .playlist h1 {
    font-size: 13px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 1rem;

}

#sidebar .new-playlist {
    font-size: 15px;
    align-items: center;
    margin-bottom: 1rem;
}

#sidebar .new-playlist:hover {
    color: white;
    cursor: pointer;
}

#sidebar .square-plus {
    background-color: grey;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: black;
    font-size: 30px;
    font-weight: 600;
    margin-right: 0.5rem;
}

#sidebar .playlist ul li {
    margin-bottom: 1rem;
    font-size: 13px;
}

#sidebar .user-wrapper {
    flex-direction: column;
    align-items: center;
}

#sidebar .user-wrapper .download:hover {
    color: white;
    cursor: pointer;
}

#sidebar .user-wrapper .divider {
    display: none;
    margin: 1rem 0;
    width: calc(240px - 3rem);
}

#sidebar .user-wrapper .profile .profile-picture {
    width: 20px;
    height: 20px;
    object-fit: contain;
    object-position: center;
    border-radius: 50%;
    margin-top: 1rem;
}

#sidebar .user-wrapper .profile > .nav-text {
    vertical-align: super;
    font-weight: 800;
    color: white;
}

#sidebar .nav-text {
    display: none;
    font-size: 13px;
}

#sidebar ul li:hover {
    color: white;
    cursor: pointer;
}

/* ! Main */
main {
    width: calc(100vw - 40px);
    height: calc(100vh - 160px);
    overflow-y: auto;
    margin-left: 40px;
    margin-top: 80px;
    background-color: rgb(20, 25, 34);
    color: white;
    padding: 0 1rem;
}

main header {
    padding: 1rem 0;
}
main header ul {
    flex-wrap: wrap;
    justify-content: center;
}

main header ul li {
    margin-right: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: rgb(130, 132, 137);
}

main header ul li:hover {
    color: white;
    cursor: pointer;
}

/* ? Recently Played */
#recently-played {
    margin-bottom: 1rem;
}

#recently-played h1 {
    margin-bottom: 1rem;
}

/* ? Create for me */
#create-for-me {
    margin-bottom: 1rem;
}

#create-for-me h1{
    margin-bottom: 0.5rem;
}

#create-for-me > p {
    margin-bottom: 1rem;
    font-size: 12px;
    color: grey;
}

/* ? Popular Artist */
#popular-artist {
    margin-bottom: 1rem;
}

#popular-artist h1{
    margin-bottom: 0.5rem;
}

#popular-artist > p {
    margin-bottom: 1rem;
    font-size: 12px;
    color: grey;
}

#recently-played .wrapper,
#create-for-me .wrapper,
#popular-artist .wrapper {
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0.5rem;
}

/* * Article Card */
article.card {
    width: calc(50% - 1rem);
    margin-right: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

article.card .img-wrapper {
    width: 100%;
    position: relative;
}

article.card .img-wrapper img {
    width: 100%;
    margin-bottom: 0.5rem;
}

article.card h2 {
    font-size: 15px;
    margin-bottom: 0.25rem;
}

article.card .author {
    font-size: 10px;
    font-weight: 300;
}

article.card .artist-img {
    border-radius: 50%;
}

article.card .img-wrapper .play-hover {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
}

article.card .img-wrapper:hover img {
    filter:contrast(0.7);
}

article.card .img-wrapper:hover .play-hover {
    display: block;
}

/* ! Taskbar */
#taskbar {
    width: 100%;
    height: 80px;
    z-index: 3;
    position: fixed;
    bottom: 0;
    background-color: rgb(40, 40, 40);
    color: white;
    justify-content: space-between;
    align-items: center;
}

#taskbar .wrapper {
    margin: 0 0.5rem ;
    height: 100%;
}

#taskbar .song-info {
    height: 100%;
    align-items: center;
}

#taskbar .song-info .song-img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    object-position: center;
    margin-right: 0.5rem;
}

#taskbar .song-info .song-img img {
    width: 45px;
}

#taskbar .song-info .song-texts {
    margin-right: 0.75rem;
}

#taskbar .song-info .song-texts .title {
    font-size: 13px;
    font-weight: 800;
}

#taskbar .song-info .song-texts .song,
#taskbar .song-info .song-texts .author {
    font-size: 10px;
}

#taskbar .song-info .user-buttons {
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
    color: grey;
}

#taskbar .song-info .user-buttons > i:hover {
    color: white;
    cursor: pointer;
}

#taskbar .song-info .user-buttons > i:first-child {
    margin-bottom: 0.25rem;
}

#taskbar .playback-buttons {
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

#taskbar .playback-buttons .buttons {
    margin-bottom: 0.5rem;
}

#taskbar .playback-buttons .buttons > i {
    font-size: 18px;
}

#taskbar .playback-buttons .buttons .fa-circle-play {
    margin: 0 1.5rem;
    font-size: 25px;
    position: relative;
    bottom: 5px;
}

#taskbar .playback-buttons .buttons .fa-circle-play:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#taskbar .playback-buttons .buttons .fa-backward-step {
    margin-left: 1rem;
}

#taskbar .playback-buttons .buttons .fa-forward-step {
    margin-right: 1rem;
}

#taskbar .playback-buttons .progressbar-wrapper {
    align-items: center;
    width: 100%;
    justify-content: center
}

#taskbar .playback-buttons .progressbar-wrapper > p {
    font-size: 10px;
}

#taskbar .playback-buttons .progressbar-wrapper .bar {
    margin: 0 0.5rem;
    width: 80%;
}

#taskbar .playback-buttons .progressbar-wrapper .bar .progress {
    position: relative;
}

#taskbar .playback-buttons .bar:hover .point-hover {
    display: block;
}

#taskbar .playback-buttons .progressbar-wrapper .bar .progress:hover {
    background-color: rgb(187, 244, 92);
}

#taskbar .song-buttons {
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

#taskbar .song-buttons > i {
    font-size: 10px;
    margin-right: 0.75rem;
}

#taskbar .song-buttons .bar {
    width: 85px;
    position: relative;
}

#taskbar .song-buttons .bar .progress:hover .point-hover {
    display: block;
}

#taskbar .song-buttons .bar .progress:hover {
    background-color: rgb(187, 244, 92);
}

#taskbar .song-info,
#taskbar .song-buttons {
    width: 30%;
}

#taskbar .playback-buttons {
    width: 40%;
}

/* ! Responsive Rules */
@media screen and (min-width: 576px) {
    #sidebar {
        width: 240px;
        align-items: flex-start;
    }

    main {
        margin-left: 240px;
        width: calc(100vw - 240px);
    }

    .button {
        padding: 1rem 3rem;
    }

    #sidebar {
        padding: 1rem 1.5rem;
    }

    #sidebar .logo-desktop {
        display: inline-block;
    }

    #sidebar .logo {
        display: none;
    }

    #sidebar nav ul {
        align-items: start;
    }

    #sidebar nav ul li > i {
        padding-right: 0.5rem;
    }
    
    #sidebar nav ul li .fa-lines-leaning {
        padding-left: 0.5rem;
        padding-right: 4px;
    }

    #sidebar .playlist {
        display: block;
    }

    #sidebar .user-wrapper {
        width: calc(240px - 2rem);
        bottom: 1rem;
        left: 1rem;
        align-items: flex-start;
    }

    #sidebar .user-wrapper .download > i {
        padding-right: 0.5rem;
    }

    #sidebar .user-wrapper .divider {
        display: block;
    }

    #sidebar .user-wrapper .profile .profile-picture {
        margin: 0;
    }

    #sidebar .nav-text {
        display: inline-block;
    }

    #taskbar .song-info .song-texts .song,
    #taskbar .song-info .song-texts .author {
        display: inline-block;
    }
}

/* ? Rules 768px */
@media screen and (min-width: 768px) {
    article.card {
        width: calc((100% / 4) - 1rem);
    }

    #recently-played .wrapper,
    #create-for-me .wrapper,
    #popular-artist .wrapper {
        justify-content: flex-start;
    }
}

/* ? Rules 992px */
@media screen and (min-width: 992px) {
    article.card {
        width: calc((100% / 6) - 1rem);
    }
}